# Keil Generated output files in the sub-directories .\Listings and .\Objects
*.lst
*.o
*.d
*.crf
*.lnp
*.axf
*.htm
*.build_log.htm
*.dep
*.iex
*.i
*_2i
*.l2p
*.fed
*.map
*.hex
*.bin
*.Bak

#Keil Project screen layout file
*.uvguix.*
*.uvgui.*

#JLINK file
JLinkLog.txt
*.dbgconf

#ref WeAct F411CEU6 Boards 
04_Software/00_Ref/WeActStudio.MiniSTM32F4x1-master/